footer {
    height: 170px;
    background: #464547;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-family: $font-body;
    padding-top: 39px;
    padding-left: 153px;
    padding-right: 153px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;

    p span{
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .col-1{
        grid-column: 1/2;
    }
    
    .col-3{
        grid-column: 3/4;
    }
    
    .col-6{
        grid-column: 6/8;
    }
    
    .row-1{
        grid-row: 1/2;
    }
    
    .row-2{
        grid-row: 2/3;
    }
}

