.main {
    @include content-center();
    width: 100%;
    height: auto;
    color: #000;
    background-color: #EEEEEE;
    z-index: -1;

    h2 {
        width: 56%;
        font-family: $font-header;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #464547;
        margin-top: 87px;
        margin-bottom: 40px;
    }

    h3 {
        width: 426px;
        height: 57px;
        font-family: $font-body;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #666666;
        margin-bottom: 48px;
    }

    .main__lorem {
        display: flex;
        justify-content: space-between;
        text-align: start;
        width: 768px;
        font-family: $font-body;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
        z-index: 3;

        p:nth-child(1) {
            width: 408px ;
        }

        p:nth-child(2) {
            width: 416px ;
        }
    }

    .main__button-rotate3d {
        background: #55C2D8;
        border-radius: 18px;
        font-family: $font-body;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #FFFFFF;   
        text-transform: uppercase;
        padding: 5px 17px 6px 18px;
        border: none;
        margin-top: 22px;
        margin-bottom: 98px;
        cursor: pointer;
        transition: transform 0.5s ease;
        transform-origin: top left;

        &.active {
            transform: rotate(8deg);
        }
    }
}



